﻿@model APIModel
@using EGIC.Core.Models.APIs
@{
    string pageTitle = $"Edit API (#{Model.Code})";
    //page title
    ViewBag.Title = pageTitle;
}

<form asp-controller="API" asp-action="PostEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @pageTitle

            @if (true)
            {
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="Index">Go to list</a>
                </small>
            }
        </h1>
        <div class="pull-right">
            @if (true)
            {
                <span id="btnDelete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    Delete
                </span>
            }
        </div>

    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

@if (true)
{
    <egic-delete-confirmation asp-action="Delete"
                              asp-button-id="btnDelete"
                              asp-message="@($"Are you sure you want to delete this database ({Model.Code})?")"
                              asp-model-code="@Model.Code" />
}