﻿
@{
    Layout = "_AdminLayout";
    string pageTitle = "All APIs";
    ViewBag.Title = pageTitle;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
    @if (true)
    {
        <div class="pull-right">
            <a asp-action="Add" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                Add New
            </a>
        </div>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("_List")
                </div>
            </div>
        </div>
    </div>
</div>