﻿@using EGIC.Web.Framework.Menu
@{
    var items = new List<SiteMapNode>
{
new SiteMapNode
{
    SystemName = "Home",
    IconClass = "fa-desktop",
    Title = "Home",
    ActionName = "Index",
    ControllerName = "Home",
    Visible = true
},
new SiteMapNode
{
    SystemName = "Server/All",
    IconClass = "fa-server",
    Title = "Servers",
    ActionName = "Index",
    ControllerName = "Server",
    Visible = true
},
new SiteMapNode
{
    SystemName = "Database/All",
    IconClass = "fa-database",
    Title = "Databases",
    ActionName = "Index",
    ControllerName = "Database",
    Visible = true
},
new SiteMapNode
{
    SystemName = "API/All",
    IconClass = "fa-code",
    Title = "APIs",
    ActionName = "Index",
    ControllerName = "API",
    Visible = true
},
new SiteMapNode
{
    SystemName = "Application/All",
    IconClass = "fa-android",
    Title = "Applications",
    ActionName = "Index",
    ControllerName = "Application",
    Visible = true
}
    };
}
<ul class="sidebar-menu">
    @foreach (var item in items.Where(x => x.Visible))
    {
        @await Html.PartialAsync("_MenuItem", item)
    }
</ul>