@model DateTime?
@{
    string dateFormat = "dd/MM/yyyy HH:mm:ss";
}
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToString(dateFormat) : null)" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoDateTimePicker({
            format:"@dateFormat",
            popup: {
                position: "bottom right",
                origin: "top right"
            }
        });
    });
</script>