﻿@model int
@using EGIC.Web.Framework.UI;

@{
    //register CSS and JS
    <link rel="stylesheet" href="~/lib/fineuploader/fineuploader-4.2.2.min.css" />
    <script src="~/lib/fineuploader/jquery.fineuploader-4.2.2.min.js"></script>

    //other variables
    var randomNumber = Guid.NewGuid();
    var clientId = "download" + randomNumber;
    var download = Model;

    var disableUrl = Convert.ToBoolean(ViewData["egic.DownloadEditor.DisableUrl"] ?? false);
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#cbUseDownloadURL@(randomNumber)').click(toggleDownloadRecordType@(randomNumber));

        $('#saveDownloadUrl@(randomNumber)').click(function () {
            var downloadUrl = $("#downloadurl@(randomNumber)").val();
            $('#saveDownloadUrl@(randomNumber)').attr('disabled', true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("SaveDownloadUrl", "Download"))",
                data: { "downloadUrl": downloadUrl },
                success: function (data) {
                    $('#pnlDownloadURLResult@(randomNumber)').fadeIn("slow").delay(1000).fadeOut("slow");
                    $("#@(clientId + "value") input").val(data.downloadId);
                    $('#saveDownloadUrl@(randomNumber)').attr('disabled', false);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to save download object.');
                    $('#saveDownloadUrl@(randomNumber)').attr('disabled', false);
                }
            });
        });

        toggleDownloadRecordType@(randomNumber)();
    });

    function toggleDownloadRecordType@(randomNumber)() {
        if ($('#cbUseDownloadURL@(randomNumber)').is(':checked')) {
            $('#pnlDownloadURL@(randomNumber)').show();
            $('#pnlDownloadFile@(randomNumber)').hide();
        } else {
            $('#pnlDownloadURL@(randomNumber)').hide();
            $('#pnlDownloadFile@(randomNumber)').show();
        }
    }

</script>

<div id="@(clientId + "value")">
    <input type="hidden" asp-for="@Model" />
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @if (!disableUrl)
        {
            <div class="form-group">
                <div class="col-xs-4">
                    <div class="label-wrapper">
                        <label class="control-label">
                            Admin.Download.UseDownloadURL")
                        </label>
                    </div>
                </div>
                <div class="col-xs-8">
                    <input type="checkbox" name="cbUseDownloadURL@(randomNumber)" id="cbUseDownloadURL@(randomNumber)"
                           @if (download>0) { <text> checked="checked" </text> } />
                </div>
            </div>
        }
        <div id="pnlDownloadURL@(randomNumber)">
            <div class="form-group">
                <div class="col-xs-4">
                    <div class="label-wrapper">
                        <label class="control-label">
                            Admin.Download.DownloadURL")
                        </label>
                    </div>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="downloadurl@(randomNumber)" id="downloadurl@(randomNumber)"
                           @if (download > 0) { <text> value="@(download)" </text> } />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 col-xs-offset-4">
                    <button type="button" id="saveDownloadUrl@(randomNumber)" class="btn btn-primary">Admin.Download.SaveDownloadURL")</button>
                    <div id="pnlDownloadURLResult@(randomNumber)" style="display: none;">Admin.Download.DownloadURLSaved")</div>
                </div>
            </div>
        </div>
        <div class="form-group" id="pnlDownloadFile@(randomNumber)">
            <div class="col-xs-4">
                <div class="label-wrapper">
                    <label class="control-label">
                        Admin.Download.UploadFile")
                    </label>
                </div>
            </div>
            <div class="col-xs-8">
                @*fine uploader container*@
                <div id="@clientId">
                    <noscript>
                        <p>
                            Please enable JavaScript to use file uploader.
                        </p>
                        <!-- or put a simple form for upload here -->
                    </noscript>
                </div>
                @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                <script type="text/template" id="@(clientId)-qq-template">
                    <div class="qq-uploader-selector qq-uploader">
                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                            <span>
                                حذف الملفات
                            </span>
                        </div>
                        <div class="qq-upload-button-selector qq-upload-button">
                            <div>
                                رفع
                            </div>
                        </div>
                        <span class="qq-drop-processing-selector qq-drop-processing">
                            <span>
                                يتم رفع الملفات الآن..
                            </span>
                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                        </span>
                        <ul class="qq-upload-list-selector qq-upload-list">
                            <li>
                                <div class="qq-progress-bar-container-selector">
                                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                </div>
                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">
                                    إلغاء
                                </a>
                                <a class="qq-upload-retry-selector qq-upload-retry" href="#">
                                    أعد المحاولة
                                </a>
                                <a class="qq-upload-delete-selector qq-upload-delete" href="#">
                                    حذف
                                </a>
                                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                            </li>
                        </ul>
                    </div>
                </script>

                <script type="text/javascript">

                    $(document).ready(function () {
                        $("#@clientId").fineUploader({
                            request: {
                                endpoint: '@(Url.Action("AsyncUpload", "Download"))'
                            },
                            template: "@(clientId)-qq-template",
                            multiple: false
                        }).on("complete", function (event, id, name, responseJSON, xhr) {
                            $("#@(clientId + "downloadurl")").html("<a class='btn btn-default margin-t-5' href='" + responseJSON.downloadUrl + "'><i class='fa fa-download'></i>تحميل الملفات المرفوعة</a>");
                            $("#@(clientId + "value") input").val(responseJSON.downloadId);
                            $("#@(clientId + "remove")").show();
                        });


                        $("#@(clientId + "remove")").click(function (e) {
                            $("#@(clientId + "downloadurl")").html("");
                            $("#@(clientId + "value") input").val(0);
                            $(this).hide();
                        });
                    });

                </script>
                <div style="clear: both;">
                    <div id="@(clientId + "downloadurl")" class="pull-left margin-r-5">
                        @if (download > 0)
                        {
                            <a class='btn btn-default margin-t-5' href="@(Url.Action("DownloadFile", "Download", new { downloadGuid = randomNumber }))"><i class='fa fa-download'></i>Admin.Download.DownloadUploadedFile")</a>
                        }
                    </div>
                    <div class="pull-left">
                        @if (download > 0)
                        {
                            <span id="@(clientId + "remove")" class="btn btn-default margin-t-5">
                                <i class="fa fa-trash"></i>
                                حذف
                            </span>
                        }
                        else
                        {
                            <span id="@(clientId + "remove")" class="btn btn-default margin-t-5" style="display:none;">
                            <i class="fa fa-trash"></i>
                                حذف
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


