﻿@model ApplicationModel
@using EGIC.Core.Models.Applications
@{
    string pageTitle = "Add Application";
    //page title
    ViewBag.Title = pageTitle;
}
<form asp-controller="Application" asp-action="PostAdd" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @pageTitle
            @if (true)
            {
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="Index">Go to list</a>
                </small>
            }
        </h1>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>