﻿@model ApplicationListModel
@using EGIC.Core.Models.Applications
@{
    Layout = "_AdminLayout";
    string pageTitle = "All Applications";
    ViewBag.Title = pageTitle;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
    @if (true)
    {
        <div class="pull-right">
            <a asp-action="Add" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                Add New
            </a>
        </div>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <form asp-controller="Application" asp-action="ApplicationsList" method="post">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="Responsible" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <egic-select asp-for="Responsible" asp-items="Model.Responsibles" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="PlatformType" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <egic-select asp-for="PlatformType" asp-items="Model.PlatformTypes" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="HostingServerCode" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <egic-select asp-for="HostingServerCode" asp-items="Model.HostingServers" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="btn-search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("_List")
                </div>
            </div>
        </div>
    </div>
</div>