﻿@{
    //page title
    string pageTitle = "Home";
    ViewBag.Title = pageTitle;
}
<div class="content-header">
    <h1>
        @pageTitle
    </h1>
</div>
<div class="content egic-home-page">

    
</div>
<div style="margin-top:50px;">
    <h1 class="text-center">
        EGIC
    </h1>
    <h3 class="text-center">
        EGYPTIAN GERMAN CO.
    </h3>
    <h4 class="text-center">
        EGIC Servers & Applications
    </h4>
</div>