﻿@model DatabaseModel
@using EGIC.Core.Models.Databases

<div asp-validation-summary="All"></div>
<input asp-for="Code" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <egic-tabs id="user-edit">
            <egic-tab asp-name="tab-info" asp-title="Info" asp-default="true">

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (Model.Code > 0)
                            {
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <egic-label asp-for="Code" />
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text-row">@Model.Code</div>
                                    </div>
                                </div>
                            }
                            <egic-form-field asp-for="ServiceName" />
                            <egic-form-field asp-for="UserSchema" />
                            <egic-form-field asp-for="Password" />
                            <egic-form-field asp-for="Environment" asp-input-type="Select" asp-items="Model.Environments" />
                            <egic-form-field asp-for="ServerCode"  asp-input-type="Select" asp-items="Model.Servers" />

                            @await Html.PartialAsync("_SaveButton")
                        </div>
                    </div>
                </div>

            </egic-tab>
        </egic-tabs>
    </div>
</div>