﻿
@{
    Layout = null;
    var defaultGridPageSize = 20;
    var gridPageSizes = 20;
    string deleteItemId = "delete-item";
}

<div id="items-grid"></div>
<script type="text/x-kendo-template" id="template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                Databases
            </li>
            <li>
                APIs
            </li>
            <li>
                Aplications
            </li>
        </ul>
        <div>
            <div class="server-databases second-level-grid"></div>
        </div>
        <div>
            <div class="server-apis second-level-grid"></div>
        </div>
        <div>
            <div class="server-applications second-level-grid"></div>
        </div>
    </div>
</script>
<style>
    .k-detail-cell .k-tabstrip .k-content {
        padding: 0.2em;
    }
</style>

<egic-action-confirmation asp-button-id="@(deleteItemId)" asp-message="@($"Are you sure you want to delete this item?")" />

<script type="text/javascript">

    $(document).ready(function () {

        $("#items-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ServersList", "Server"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    errors: "errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            detailTemplate: kendo.template($("#template").html()),
            detailInit: detailInit,
            dataBound: function () {
                //this.expandRow(this.tbody.find("tr.k-master-row").first());
            },
            scrollable: false,
            columns: [
                {
                    field: "code",
                    title: "Code",
                    width: 50
                }, {
                    field: "name",
                    title: "Server Name",
                    width: 100
                }, {
                    field: "internalIP",
                    title: "Internal IP",
                    width: 100
                }, {
                    field: "externalIP",
                    title: "External IP",
                    width: 100
                },
                {
                    title: "Edit",
                    width: 90,
                    headerAttributes: { style: "text-align:center;" },
                    attributes: { style: "text-align:center;" },
                    template: "<a class='btn btn-info btn-sm' href='@(Html.Raw(Url.Action("Edit", "Server")))/#=code#'><i class='fa fa-edit'></i>Edit</a>"
                }, {
                    title: "Delete",
                    width: 90,
                    headerAttributes: { style: "text-align:center;" },
                    attributes: { style: "text-align:center;" },
                    template: "<button id='btn-@(deleteItemId)_#=code#' class='btn btn-danger btn-sm' ><i class='fa fa-trash'></i>Delete</button>"
                }
            ]
        });

        $("#SearchServerName, #SearchServerInternalIP, #SearchServerExternalIP").keydown(function (event) {
            if (event.keyCode === 13) {
                $("#btn-search").click();
                return false;
            }
        });

        $('#btn-search').click(function () {

            var grid = $('#items-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $(document).on("click", "[id^='btn-@(deleteItemId)_']", function () {
            var code = $(this).attr('id').replace('btn-@(deleteItemId)_', '');
            $('#@(deleteItemId)-action-confirmation-submit-button').attr('data-code', code);
            $('#@(deleteItemId)-action-confirmation').modal('toggle');
            return false;
        });

        $(document).on('click', '#@(deleteItemId)-action-confirmation-submit-button', function () {
            var code = $(this).attr('data-code')
            var postData = {
                code: code,
                isAjax: true
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Server/Delete/" + code,
                data: postData,
                complete: function (data) {
                    if (data.responseJSON.success) {
                        //reload grid
                        var grid = $('#items-grid').data('kendoGrid');
                        grid.dataSource.read();
                        $('#@(deleteItemId)-action-confirmation').modal('hide');
                        return false;
                    }
                    else {
                        alert(data.responseJSON.errorMessage)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });

            $('#@(deleteItemId)-action-confirmation').modal('toggle');
            return false;
        });

    });

    function detailInit(e) {
        var detailRow = e.detailRow;

        detailRow.find(".tabstrip").kendoTabStrip({
            animation: {
                open: { effects: "fadeIn" }
            }
        });


        detailRow.find(".server-databases").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("DatabasesList", "Database"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalDetailData(e)
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    errors: "errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                pageSize: @(int.MaxValue)
            },
            detailInit: detailInit,
            scrollable: false,
            columns: [
                {
                    field: "code",
                    title: "Code",
                    width: 50
                }, {
                    field: "serviceName",
                    title: "Service Name",
                    width: 100
                }, {
                    field: "userSchema",
                    title: "User Schema",
                    width: 100
                }, {
                    field: "environment",
                    title: "Environment",
                    width: 100
                }
            ]
        });


        detailRow.find(".server-apis").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("APIsList", "API"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalDetailData(e)
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    errors: "errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                pageSize: @(int.MaxValue)
            },
            scrollable: false,
            columns: [
                {
                    field: "code",
                    title: "Code",
                    width: 50
                }, {
                    field: "name",
                    title: "Name",
                    width: 100
                }, {
                    field: "technology",
                    title: "Technology",
                    width: 100
                }, {
                    field: "environment",
                    title: "Environment",
                    width: 100
                }, {
                    field: "responsible",
                    title: "Responsible",
                    width: 100
                }, {
                    title: "URL",
                    width: 100,
                    template: "#if(url.length > 0){# <a target='_blank' class='btn btn-info btn-sm' href='#=url#'><i class='fa fa-link'></i> Go to api link </a> #}#"
                }, {
                    title: "Source Control Repo",
                    width: 100,
                    template: "#if(sourceControlRepo.length > 0){# <a target='_blank' class='btn btn-info btn-sm' href='#=sourceControlRepo#'><i class='fa fa-bitbucket'></i> Go to bitbucket repo </a>#}#"
                }
            ]
        });
        detailRow.find(".server-applications").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ApplicationsList", "Application"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalDetailData(e)
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    errors: "errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                pageSize: @(int.MaxValue)
            },
            scrollable: false,
            columns: [
                {
                    field: "code",
                    title: "Code",
                    width: 50
                }, {
                    field: "name",
                    title: "Name",
                    width: 100
                }, {
                    field: "platformType",
                    title: "Platform Type",
                    width: 100
                }, {
                    field: "responsible",
                    title: "Responsible",
                    width: 100
                }, {
                    title: "URL",
                    width: 100,
                    template: "#if(url.length > 0){# <a target='_blank' class='btn btn-info btn-sm' href='#=url#'><i class='fa fa-link'></i> Go to app link </a> #}#"
                }, {
                    title: "Source Control Repo",
                    width: 100,
                    template: "#if(sourceControlRepo.length > 0){# <a target='_blank' class='btn btn-info btn-sm' href='#=sourceControlRepo#'><i class='fa fa-bitbucket'></i> Go to bitbucket repo </a>#}#"
                }
            ]
        });
    }

    function additionalDetailData(p) {
        var data = {
            ServerCode: p.data.code
        };
        addAntiForgeryToken(data);
        return data;
    }

    function additionalData() {
        var data = {
            SearchServerInternalIP: $('#SearchServerInternalIP').val(),
            SearchServerExternalIP: $('#SearchServerExternalIP').val(),
            SearchServerName: $('#SearchServerName').val(),
            SearchServerLocation: $('#SearchServerLocation').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

</script>