﻿@model ServerListModel
@using EGIC.Core.Models.Servers
@{
    Layout = "_AdminLayout";
    string pageTitle = "All Servers";
    ViewBag.Title = pageTitle;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
    @if (true)
    {
        <div class="pull-right">
            <a asp-action="Add" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                Add New
            </a>
        </div>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <form asp-controller="Server" asp-action="ServersList" method="post">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="label-wrapper">
                                                <label asp-for="SearchServerInternalIP" class="control-label"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="SearchServerInternalIP" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="SearchServerLocation" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <egic-select asp-for="SearchServerLocation" asp-items="Model.ServerLocations" />
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="label-wrapper">
                                                <label asp-for="SearchServerExternalIP" class="control-label"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="SearchServerExternalIP" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="SearchServerName" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="SearchServerName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="btn-search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("_List")
                </div>
            </div>
        </div>
    </div>
</div>