

/*********** CSS RESET **********/


* {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	margin: 0;
	-webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}

a:active {
	outline: none;
}
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	margin: 0;
	border: 0;
	padding: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    border-radius: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 1000px #fff;
}
script {
    display: none !important;
}


/*********** GLOBAL STYLES **********/



body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: #fff;
	font-family: 'DroidKufi-Regular' !important;
	font-weight: normal !important;
	font-style: normal !important;
	color: #777;
}
h1,h2,h3,h4,h5,h6 {
	color: #444;
}
a {
	color: inherit;
	cursor: pointer;
}
a img {
	opacity: 0.99; /*firefox scale bug fix*/
}
table {
	width: 100%;
	border-collapse: collapse;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea, select {
    height: 36px; /*safari padding fix*/
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}
input, textarea, select {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777;
}
textarea {
	min-height: 150px;
}
select {
	min-width: 50px;
	height: 32px; /*safari padding fix*/
	padding: 6px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
    border-color: #ccc;
    color: #444;
}
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + *,
input[type="radio"] + * {
	vertical-align: middle;
}
input[type="button"], input[type="submit"],
button, .button-1, .button-2 {
	cursor: pointer;
}
label, label + * {
	vertical-align: middle;
}

.master-wrapper-content {
	position: relative;
	z-index: 0;
	width: 90%;
	margin: 0 auto;
}
.master-column-wrapper {
	position: relative;
	z-index: 0;
}
.master-column-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.center-1 {
	margin: 0 0 100px;
}
.center-2, .side-2 {
	margin: 0 0 50px;
}
.side-2:after {
	content: "";
	display: block;
	clear: both;
}

.page {
	min-height: 200px;
	text-align: center;
}
.page-title {
	min-height: 50px;
	margin: 0 0 25px;
	border-bottom: 1px solid #ddd;
	padding: 6px 10px;
}
.page-title h1 {
	font-size: 30px;
	font-weight: normal;
}
.page:after,
.page-title:after,
.page-body:after {
	content: "";
	display: block;
	clear: both;
}
.center-1 .page-title,
.center-1 .title {
	text-align: center;
}
.buttons {
	margin: 0 0 30px;
}
.link-rss {
	display: none;
	width: 24px;
	height: 24px;
	background: url('../images/rss.png') center no-repeat;
	font-size: 0 !important;
}
.category-description ul,
.manufacturer-description ul,
.full-description ul,
.topic-block ul,
.topic-page ul,
.post-body ul {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: disc;
}
.category-description ol,
.manufacturer-description ol,
.full-description ol,
.topic-block ol,
.topic-page ol,
.post-body ol {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: decimal;
}
.category-description p,
.manufacturer-description p,
.full-description p,
.topic-block p,
.topic-page p,
.post-body p,
.news-body p {
	margin: 10px 0;
	text-align: justify;
}
.flyout-cart {
	display: none;
}


/*********** GLOBAL FORMS ***********/



.fieldset, .section {
	position: relative;
	margin: 0 0 40px;
}
.fieldset .title,
.section .title {
	margin: 0 0 15px;
	padding: 0 10px;
	font-size: 20px;
	color: #444;
}
.fieldset .title strong,
.section .title strong {
	font-weight: normal;
}
.form-fields {
	position: relative;
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	padding: 30px 15px;
}
.inputs {
	position: relative;
	margin: 0 0 15px;
	text-align: center;
	white-space: nowrap; /*fix for 'required' elements*/
    font-size: 0;
}
.inputs:after {
	content: "";
	display: block;
	clear: both;
}
.inputs label {
	display: block;
	width: 100%;
	margin: 0 0 10px;
	text-align: center;
    font-size: 14px; /*reset zeroing*/
	color: #444;
}
.inputs input[type="text"],
.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"],
.inputs select, .inputs textarea {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
}
.inputs.custom-attributes {
	white-space: normal;
}
.inputs .option-list {
    display: inline-block;
	max-width: 95%;
    vertical-align: middle;
}
.inputs .option-list li {
	display: inline-block;
	margin: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 8px 10px;
}
.inputs .option-list label {
	display: inline-block;
	width: auto !important;
	margin: 0 0 0 5px;
}

.inputs.reversed {
	margin: 0 0 20px;
	text-align: center;
}
.required {
	margin: 0 -8px 0 3px; /*siblings offset*/
	vertical-align: top;
	font-size: 20px;
	font-weight: normal;
	color: #e4434b;
}
.message-error,
.field-validation-error,
.username-not-available-status,
.poll-vote-error, .password-error {
	display: block;
	text-align: center;
	font-size: 13px;
	color: #e4434b;
    margin-top: 5px;
}
.field-validation-valid,
.username-available-status {
	display: block;
	text-align: center;
	font-size: 13px;
	color: #4cb17c;
}

.captcha-box {
	text-align: center;
	line-height: 0; /*firefox line-height bug fix*/
}
.captcha-box > div {
	display: inline-block;
	max-width: 100%;
}
.captcha-box input {
	height: auto;
}


/*********** GLOBAL TABLES ***********/



.table-wrapper {
	overflow-x: auto;
}
.data-table th,
.forum-table th {
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #ddd;
    background-color: #f6f6f6;
    padding: 10px;
    white-space: nowrap;
	font-weight: normal;
}
.forum-table th.replies,
.forum-table th.views,
.forum-table th.votes,
.forum-table th.latest-post,
.forum-table th.topics,
.forum-table th.posts,
.forum-table td.replies,
.forum-table td.views,
.forum-table td.votes,
.forum-table td.latest-post,
.forum-table td.topics,
.forum-table td.posts{
    display: none;
}
.forum-table td.image {
    min-width: 0;
}
.data-table td,
.forum-table td {
	min-width: 50px;
	border-width: 1px;
	border-style: solid;
    border-color: transparent #ddd #ddd;
    background-color: #fff;
    padding: 20px;
	color: #444;
}
.forum-table td {
	min-width: 90px;
    padding: 10px;
}
.data-table a,
.forum-table a {
	font-weight: normal;
	color: #4ab2f1;
}
.data-table a:hover,
.forum-table a:hover {
	text-decoration: underline;
}
.data-table .product,
.data-table .message,
.data-table .info,
.data-table .name {
    min-width: 225px;
	text-align: left;
}
.forum-table .forum-details,
.forum-table .topic-details {
	text-align: left;
}
.data-table .product a,
.data-table .info a {
    font-weight: bold;
	color: #444;
}
.data-table .product a:hover,
.data-table .info a:hover {
	color: #4ab2f1;
	text-decoration: none;
}
.data-table .select-boxes,
.data-table .order {
    text-align: center;
}
.data-table td.unit-price {
    white-space: nowrap;
}
.data-table td.total {
	white-space: nowrap;
    color: #444;
}
.data-table em a {
	font-weight: bold;
	color: #444;
}
.data-table div.download {
	margin: 10px 0 0;
}

/*********** HEADER ***********/



.admin-header-links {
	background-color: #333;
	text-align: center;
	color: #eee;
}
.admin-header-links * {
	display: inline-block;
	margin: 0 10px;
	line-height: 35px;
	font-size: 12px;
	font-weight: bold;
}
.admin-header-links .impersonate {
	display: inline-block;
}
.admin-header-links .impersonate a {
	background-color: #555;
	padding: 0 15px;
}
.admin-header-links .impersonate a:hover {
	background-color: #666;
}

.header {
	position: relative;
	z-index: 10;
	width: 95%;
	margin: auto;
	text-align: center;
}
.header-upper {
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #ddd;
}

.header-selectors-wrapper {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.header-selectors-wrapper > div {
	display: block;
	width: 50%;
	margin: 10px auto;
	vertical-align: middle;
}
.header-selectors-wrapper select {
	width: 100%;
}
.language-list {
	max-width: 100%;
	font-size: 0;
}
.language-list li {
	display: inline-block; 
	margin: 0 1px;
	vertical-align: middle;
}
.language-list a { 
	display: block;
	position: relative;
	width: 24px;
	height: 32px;
	line-height: 0;
}
.language-list img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.header-links-wrapper {
	position: relative;
	padding: 20px 0;
}
.header-links {
}
.header-links ul {
	font-size: 0;
}
.header-links li {
	display: inline-block;
	margin: 0 10px;
}
.header-links span,
.header-links a {
	display: inline-block;
	font-size: 12px; /*reset zeroing*/
	line-height: 36px;
	text-transform: uppercase;
}
.header-links a:hover {
	color: #4ab2f1;
}

.header-lower {
	position: relative;
	z-index: 0;
	padding: 35px 0;
}

.header-logo {
	margin: 0 0 20px;
	text-align: center;
}
.header-logo a {
	display: inline-block;
	max-width: 100%;
	line-height: 0; /*firefox line-height bug fix*/
}
.header-logo a img {
	max-width: 100%;
	opacity: 1;
}

.search-box form {
	display: inline-block;
}
.search-box form:after {
	content: "";
	display: block;
	clear: both;
}
.search-box input.search-box-text {
	float: left;
	width: 200px;
	height: 36px;
	margin: 0 -1px 0 0;
}
.search-box .search-box-button {
	float: left;
	min-width: 86px;
	height: 36px;
	border: none;
	background-color: #4ab2f1;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.search-box .search-box-button:hover {
	background-color: #248ece;
}
.search-box .ui-autocomplete-loading {
	background: #fff url('../images/ajax-loader-small.gif') right center no-repeat;
}
.ui-helper-hidden-accessible {
	display: none !important;
}
.ui-autocomplete {
	width: 285px !important;
	border: 1px solid #ddd;
	border-top: none;
	overflow: hidden;
	background-color: #fff;
	text-align: left;
	/*override jQuery UI styles, do not delete doubled properties*/
	border-radius: 0;
	padding: 0;
	font: normal 14px Arial, Helvetica, sans-serif;
}
.ui-autocomplete li {
	border-top: 1px solid #ddd;
}
.ui-autocomplete li:first-child {
	border-top: none;
}
.ui-autocomplete a {
	display: block;
	padding: 15px;
	font-size: 14px;
	/*override jQuery UI styles, do not delete doubled properties*/
	margin: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	background: none !important;
	padding: 15px !important;
	line-height: normal !important;
	color: #777 !important;
}
.ui-autocomplete a:hover,
.ui-autocomplete a.ui-state-focus {
	background-color: #f6f6f6 !important;
}
.ui-autocomplete img {
	display: none;
	min-width: 20px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}


/*********** FOOTER ***********/



.footer {
	background-color: #eee;
	text-align: center;
}

.footer-upper {
	width: 95%;
	margin: auto;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 40px 0;
	font-size: 0;
}
.footer-block {
	width: 95%;
	margin: 1px auto;
	text-align: left;
	font-size: 14px; /*reset zeroing*/
}
.footer-block .title {
	margin: 0 0 1px;
	background: #4ab2f1 url('../images/toggle-white.png') right center no-repeat;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.footer-block .title strong {
	font-weight: normal;
}
.footer-block .list {
	display: none;
	margin: 0 0 20px;
	background-color: #fff;
	padding: 10px 15px;
}
.footer-block .list a {
	display: block;
	padding: 10px 15px;
	line-height: 20px;
}
.footer-block .list a:hover {
	color: #4ab2f1;
}

.follow-us {
	margin: 30px auto 0;
	text-align: center;
}
.follow-us .title {
	margin: 0 0 10px;
	background: none;
	color: #444;
	cursor: auto;
}
.follow-us .social ul {
	margin: 0 0 30px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 30px;
	font-size: 0;
}
.follow-us .social li {
	display: inline-block;
	margin: 0 5px;
}
.follow-us .social a {
	display: block;
	width: 38px;
	height: 38px;
	background: url('../images/social-sprite.png') no-repeat;
	font-size: 0;
}
.follow-us .social .facebook a {
	background-position: 0 0;
}
.follow-us .social .twitter a {
	background-position: -38px 0;
}
.follow-us .social .rss a {
	background-position: -76px 0;
}
.follow-us .social .youtube a {
	background-position: -114px 0;
}
.follow-us .social .google-plus a {
	background-position: -152px 0;
}

.newsletter-email { 
	display: inline-block;
	overflow: hidden; 
}
.newsletter-email input[type="email"] {
	float: left;
	width: 180px;
	height: 36px;
	margin: 0 -1px 0 0;
}
.newsletter-subscribe-button {
	float: left;
	height: 36px;
	border: none;
	background-color: #4ab2f1;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.newsletter-subscribe-button:hover {
	background-color: #248ece;
}
.newsletter-email .options {
    clear: both;
    padding: 10px 0 0;
}
.newsletter-validation, 
.newsletter-result { 
	width: 100%;
	overflow: hidden; 
	line-height: 28px; 
}
/*.newsletter-validation .please-wait {
	display: none !important; 
}*/

.footer-lower {
	width: 95%;
	margin: auto;
	overflow: hidden;
	padding: 25px 0;
	font-size: 12px;
}
.footer-tax-shipping a {
	font-weight: bold;
	color: #4ab2f1;
}
.footer-tax-shipping a:hover {
	text-decoration: underline;
}
.footer-powered-by {
	margin: 10px 0 0;
}
.footer-powered-by a {
	font-weight: bold;
	color: #4ab2f1;
}
.footer-powered-by a:hover {
	text-decoration: underline;
}
.theme-selector {
	margin: 10px 0 0;
}
.theme-selector select {
	width: 170px;
}


/*********** SIDE COLUMN ***********/



.block {
	max-width: 600px; /*width limit in mobile*/
	min-height: 50px;
	margin: auto;
	text-align: left;
}
.block .title {
	position: relative;
	margin: 0 0 10px;
	border-bottom: 1px solid #ddd;
	background: #f6f6f6 url('../images/toggle-gray.png') right 14px no-repeat;
	padding: 12px 30px 12px 10px;
	font-size: 20px;
	color: #444;
	cursor: pointer;
}
.block .title strong {
	font-weight: normal;
}
.block .listbox {
	display: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 5px;
}
.block .list li {
	padding: 5px 0 5px 15px;
}
.block .list a {
	display: inline-block;
	position: relative;
	padding: 5px 0;
	font-size: 16px;
	color: #444;
    -webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.block .list a:before {
	content: "";
	position: absolute;
	top: 12px;
	left: -15px;
	width: 5px;
	height: 5px;
	background-color: #ddd;
}
.block .list .active > a {
	color: #4ab2f1;
}
.block .list a:hover {
	color: #4ab2f1;
}
.block a.product-picture {
	display: none;
}
.block a.product-picture:before {
	display: none;
}
.block .sublist {
	margin: 15px 0 5px;
}
.block .sublist a {
	font-size: 14px;
}

.block .view-all {
	margin: 10px 0 0;
}
.block .view-all a {
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	color: #4ab2f1;
}
.block .view-all a:hover {
	text-decoration: underline;
}

.block .tags {
	margin: 5px 0 10px;
}
.block .tags ul {
	font-size: 0;
}
.ui-datepicker {
	width: 280px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	text-align: center;
	/*override jQuery UI styles, do not delete doubled properties*/
	border: none;
	border-radius: 0;
	padding: 0;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #777;
}
.ui-datepicker-header {
	position: relative;
	height: 32px;
	background-color: #4ab2f1;
	color: #fff;
	/*override jQuery UI styles, do not delete doubled properties*/
	border: none;
	border-radius: 0;
	background-image: none;
	padding: 0 !important;
	font-weight: normal;
}
.ui-datepicker-header a {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 0;
	/*override jQuery UI styles, do not delete doubled properties*/
	top: 0 !important;
	width: 32px !important;
	height: 32px !important;
	border: none !important;
}
.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url('../images/calendar-prev.png') center no-repeat;
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('../images/calendar-next.png') center no-repeat;
}
.ui-datepicker-header a span {
	/*override jQuery UI styles, do not delete doubled properties*/
	display: none !important;
}
.ui-datepicker-title {
	position: relative;
	z-index: 0;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	/*override jQuery UI styles, do not delete doubled properties*/
	line-height: 32px !important;
}
.ui-datepicker-calendar {
	/*override jQuery UI styles, do not delete doubled properties*/
	margin: 0 !important;
	font-size: 14px !important;
}
.ui-datepicker-calendar th {
	background-color: #eee;
}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
	width: 14.285%;
	border: 1px solid #ddd;
	/*override jQuery UI styles, do not delete doubled properties*/
	padding: 0;
}
.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
	display: block;
	min-height: 32px;
	line-height: 32px;
	color: #444;
}
.ui-datepicker-calendar td a {
	/*override jQuery UI styles, do not delete doubled properties*/
	border: none !important;
	background: none !important;
	padding: 0;
	text-align: center;
	color: #444 !important;
}
.ui-datepicker-calendar .ui-state-active {
	outline: 2px solid #4ab2f1;
	font-weight: bold;
	color: #4ab2f1;
	/*override jQuery UI styles, do not delete doubled properties*/
	color: #4ab2f1 !important;
}

.tooltip-container {
    position: absolute;
    width: 200px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
}
.tooltip-container:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    width: 0; height: 0;
    border-bottom: 7px solid #eeeeee;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.tooltip-container:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0; height: 0;
    border-bottom: 6px solid #FFFFFF;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.attribute-squares li:hover .tooltip-container {
    visibility: visible;
    margin-left: -83px;
    margin-top: 5px;
    z-index: 999;
}
.tooltip-container .tooltip-header {
    background-color:#F6F6F6;
    height:25px;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    padding-left:10px;
    padding-top:5px;
    text-align:left;
    width: 198px;
    font-size: 15px;
    border-bottom: 1px #EEEEEE solid;
}
.tooltip-container .tooltip-body {
    margin:5px;
}
.tooltip-container .tooltip-body img {
    border: 0px #FFF;
    width: 190px;
}
/********** REGISTRATION, LOGIN, ACCOUNT PAGES  **********/



.gender {
	display: inline-block;
}
.gender span {
	display: inline-block;
	margin: 0 5px;
}
.gender span > * {
	display: inline !important;
	margin: 0 5px;
	line-height: 32px;
}
.date-of-birth .date-picker-wrapper {
    display: inline;
} 
.date-of-birth select {
    width: 31%; /*always single line*/
    max-width: 126px;
}
.date-of-birth select + select {
	margin: 0 0 0 10px;
}
#check-availability-button {
	margin: 10px 0 0;
	border: none;
	background-color: #888;
	padding: 10px 15px;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
#check-availability-button:hover {
	background-color: #999;
}
.accept-privacy-policy {
	margin: 0 0 20px;
	text-align: center;
}
.accept-privacy-policy > * {
	display: inline-block;
	line-height: 32px;
}
.accept-privacy-policy span,
.accept-privacy-policy a {
	color: #4ab2f1;
	cursor: pointer;
}
.registration-page .button-1,
.registration-result-page .button-1,
.login-page .button-1,
.password-recovery-page .button-1,
.account-page .button-1,
.return-Picture-page .button-1 {
	min-width: 140px;
	border: none;
	background-color: #4ab2f1;
    padding: 10px 30px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.registration-page .button-1:hover,
.registration-result-page .button-1:hover,
.login-page .button-1:hover,
.password-recovery-page .button-1:hover,
.account-page .button-1:hover,
.return-Picture-page .button-1:hover {
	background-color: #248ece;
}
.return-Picture-page h1 a {
    color: #4ab2f1;
}
.return-Picture-page .return-Picture-file {
    font-size: 14px;
}
.return-Picture-page .return-Picture-file .uploadedfileinput {
    display: inline-block;
}
.registration-page .message-error,
.login-page .message-error,
.account-page .message-error {
	margin: 0 0 10px;
}
.registration-result-page .result {
	margin: 0 0 30px;
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #4cb17c;
}
.customer-info-page .email-to-revalidate,
.customer-info-page .readonly-username,
.customer-info-page .vat-status {
    margin: 0 5px;
    font-size: 14px;
}
.customer-info-page .vat-status {
    display: block;
}
.registration-page .vat-note,
.customer-info-page .vat-note,
.customer-info-page .email-to-revalidate-note {
    display: block;
    font-size: 14px;
    margin-top: 7px;
    white-space: normal;
}
.login-page .customer-blocks {
	margin: 0 0 30px;
}
.login-page .title {
	margin: 0 0 15px;
	font-size: 20px;
	color: #444;
}
.login-page .title strong {
	font-weight: normal;
}
.login-page .new-wrapper {
	margin: 0 0 50px;
}
.login-page .new-wrapper .text {
	margin: 0 0 30px;
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	padding: 30px;
	line-height: 22px;
}
.login-page .new-wrapper .topic-block {
	margin: 0;
}
.login-page .new-wrapper .topic-block-body strong {
	color: #444;
}
.login-page .new-wrapper .button-1 {
	margin: 0 0 5px;
}
.login-page .returning-wrapper {
	margin: 0;
}
.login-page .returning-wrapper .form-fields {
	overflow: hidden;
	padding: 30px 15px 0;
}
.login-page .returning-wrapper .inputs.reversed {
	white-space: normal;
}
.login-page .returning-wrapper .inputs.reversed * {
	display: inline-block;
	width: auto;
	margin: 5px;
	font-size: 14px; /*reset zeroing*/
	color: #444;
}
.login-page .returning-wrapper .inputs.reversed a:hover {
	color: #4ab2f1;
}
.login-page .captcha-box {
	margin: -15px 0 20px;
}
.login-page .returning-wrapper .buttons {
	background-color: #fff;
	padding: 30px 0;
}

.external-authentication {
	margin: 0 0 50px;
	overflow: hidden;
	text-align: center;
}
.external-authentication .title {
	margin: 0 0 15px;
	font-size: 20px;
	color: #444;
}
.external-authentication .buttons {
    margin: 0 0 30px;
    border-top: 1px solid #e6e6e6;
    padding: 30px;
}
.external-auth-errors {
	color: #e4444c;
}
.external-auth-association {
	color: #444;
}
.external-auth-association a {
	color: #4ab2f1;
}
.external-auth-association a:hover {
	text-decoration: underline;
}

.password-recovery-page .result {
	margin: 0 0 5px;
	font-weight: bold;
	color: #444;
}
.password-recovery-page .tooltip {
	margin: 0 0 25px;
}

.add-more-external-records {
	text-align: center;
}
.add-more-external-records a {
	color: #4ab2f1;
}
.add-more-external-records a:hover {
	text-decoration: underline;
}

.account-page .buttons {
	text-align: center;
}
.account-page .description {
	margin: 0 0 25px;
	padding: 0 10px;
}
.account-page .table-wrapper {
	margin: 0 0 30px
}

.address-list-page .info,
.order-list-page .info {
	margin: 0 0 10px;
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
    padding: 20px;
	line-height: 26px;
	color: #444;
}
.address-list-page .info .name,
.order-list-page .info .name {
	font-size: 16px;
	font-weight: bold;
}
.address-list-page .button-2,
.order-list-page .button-2 {
	display: inline-block;
	margin: 0 0 0 10px;
	border: none;
	padding: 0 0 0 18px;
	font-size: 12px;
	color: #444;
}
.edit-address-button {
	background: url('../images/edit.png') left center no-repeat;
}
.delete-address-button,
.cancel-recurring-order-button {
	background: url('../images/remove.png') left center no-repeat;
}
.retry-recurring-order-button {
	background: url('../images/retry.png') left center no-repeat;
}
.return-items-button {
	background: url('../images/return.png') left center no-repeat;
}
.order-details-button {
	background: url('../images/details.png') left center no-repeat;
}
.address-list-page .button-2:hover,
.order-list-page .button-2:hover {
	color: #4ab2f1;
}
.address-list-page .add-button {
	margin: 0 0 20px;
	text-align: center;
}

.address-edit-page .page-title {
	margin: 0 0 -1px;
}
.address-edit-page .message-error {
	margin: 20px 0;
}
.address-edit-page .edit-address {
	margin: 0 0 30px;
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
    padding: 30px 15px;
}

.recurring-payments table td {
	white-space: nowrap;
}
.recurring-payments table td:first-child {
	min-width: 120px;
	white-space: normal;
}
.recurring-payments .button-2 {
	font-size: 14px;
}

.return-Picture-list-page .details {
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
    padding: 20px;
	line-height: 22px;
	color: #444;
}
.return-Picture-list-page label {
	margin: 0 5px 0 0;
}
.return-Picture-list-page a {
	color: #4ab2f1;
}
.return-Picture-list-page a:hover {
	text-decoration: underline;
}
.return-Picture-list-page .comments div {
	margin: 10px 0 0;
	font-size: 15px;
	font-style: italic;
	color: #444;
}

.downloadable-products-page table td {
	color: #444;
}

.reward-points-overview {
    margin: 0 0 25px;
}
.reward-points-history table td {
	color: #444;
}
.reward-points-history table td:first-child {
	min-width: 120px;
}

.change-password-page .page-title {
	margin: 0 0 -1px;
}
.change-password-page .result,
.change-password-page .message-error {
	margin: 20px 0;
}
.change-password-page .fieldset {
	margin: 0 0 30px;
}

.avatar-page .page-title {
	margin: 0;
}
.avatar-page .page-body {
	margin: 0 0 30px;
	overflow: hidden;
	background-color: #f9f9f9;
    padding: 30px 25px;
}
.avatar-page .message-error {
	margin: 0 0 10px;
}
.avatar-page .image {
	margin: 0 0 10px;
}
.avatar-page .image img {
	border: 1px solid #ccc;
}
.avatar-page .button-1 {
	font-size: 14px;
}
.avatar-page .button-2 {
	border: none;
	background-color: #888;
	padding: 10px 15px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.avatar-page .button-2:hover {
	background-color: #999;
}
.avatar-page .info {
	color: #444;
}

.vendorinfo-page .button-2 {
    border: medium none;
    background-color: #888;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.vendorinfo-page .button-2:hover {
	background-color: #999;
}
.vendorinfo-page .vendor-picture {
    width: 400px;
    margin: 0 auto;
}
.vendorinfo-page .vendor-picture * {
    display: block;
    margin-top: 15px;
}

.min-amount-warning {
	margin: 0 0 20px;
	padding: 0 30px;
	color: #e4434b;
}

.terms-of-service {
	margin: 0 0 20px;
	padding: 0 30px;
}
.terms-of-service label {
    cursor: pointer;
}
.terms-of-service a {
	margin: 0 0 0 3px;
	color: #4ab2f1;
}

.remove-discount-button,
.remove-gift-card-button {
	width: 16px;
	height: 16px;
	border: 1px solid #999;
	background: #fff url('../images/close.png') center no-repeat;
	cursor: pointer;
}

/****** SEARCH & SITEMAP ******/



.search-page .page-title {
	margin: 0 0 -1px;
}
.search-input .fieldset {
	margin: 0 0 30px;
}
.search-input .form-fields {
	padding: 30px 15px 10px;
}
.search-input input + label {
	display: inline;
	margin: 0 0 0 5px;
}

.advanced-search {
	margin: 30px 0 0;
}
.advanced-search .price-range {
	display: inline-block;
}
.advanced-search .price-range input {
	width: 80px;
	margin: 3px;
}
.search-input .buttons {
	text-align: center;
}
.search-input .button-1 {
	min-width: 140px;
	border: none;
	background-color: #4ab2f1;
    padding: 10px 30px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.search-input .button-1:hover {
	background-color: #248ece;
}
.search-results {
	margin: 30px 0 0;
}
.search-results .warning,
.search-results .no-result {
	margin: 10px 0; 
	color: #e4434b;
}

.sitemap-page .description {
	margin: 0 0 30px;
    text-align: center;
}
.sitemap-page .entity {
	margin: 0 0 30px;
}
.sitemap-page .entity-title {
    margin: 0 0 15px;
    padding: 0 10px;
	text-align: center;
}
.sitemap-page .entity-title h2 {
	font-size: 20px;
	font-weight: normal;
	color: #444;
}
.sitemap-page .entity-body {
    border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
    padding: 30px 15px;
	text-align: center;
}
.sitemap-page ul {
	font-size: 0;
}
.sitemap-page li {
	display: inline-block;
	position: relative;
	margin: 0 8px;
	padding: 0 12px;
	line-height: 50px;
	font-size: 14px; /*reset zeroing*/
}
.sitemap-page li:before {
	content: "";
	position: absolute;
	top: 23px;
	left: 0;
	width: 5px;
	height: 5px;
	background-color: #ddd;
}
.sitemap-page a {
	color: #444;
}
.sitemap-page a:hover {
	color: #4ab2f1;
}
.sitemap-page a:empty {
	display: none;
}

/* jQuery tabs */

.ui-tabs {
	/*override jQuery UI styles, do not delete doubled properties*/
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #777;
}
.ui-tabs-nav {
	margin: 0 0 30px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	font-size: 0;
	/*override jQuery UI styles, do not delete doubled properties*/
	margin: 0 0 30px !important;
	border-width: 0 0 1px;
	border-radius: 0;
	background: none;
	padding: 0 !important;
	line-height: normal;
	font-weight: normal;
	color: #444;
}
.ui-tabs-nav li {
	margin: 0 0 -1px;
	/*override jQuery UI styles, do not delete doubled properties*/
	float: none !important;
	margin: 0 0 -1px !important;
	border: none !important;
	border-radius: 0;
	background: none !important;
	padding: 0 !important;
}
.ui-tabs-nav li a {
	display: block;
	border: 1px solid #ddd;
	padding: 12px 24px;
	text-align: center;
	font-size: 18px;
	color: #444;
	/*override jQuery UI styles, do not delete doubled properties*/
	float: none !important;
	padding: 12px 24px !important;
}
.ui-tabs-nav li.ui-state-active a {
	background-color: #eee;
	color: #4ab2f1;
}
.ui-tabs-panel {
	/*override jQuery UI styles, do not delete doubled properties*/
	padding: 0 !important;
}



@media all and (max-width: 1000px) {

/*** MOBILE NAVIGATION ***/


.header-menu {
	position: relative;
	z-index: 1;
	width: 90%;
	max-width: 600px;
	margin: 0 auto 40px;
}
.menu-toggle {
	background: #4ab2f1 url('../images/menu-icon.png') right center no-repeat;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.top-menu {
	display: none;
}
.top-menu > li {
	position: relative;
	margin: 1px 0;
	background-color: #f6f6f6;
}
.top-menu > li > a {
	display: block;
	min-height: 55px;
	padding: 18px;
	font-size: 15px;
	color: #555;
}
.top-menu .sublist {
	display: none;
	background-color: #fff;
	padding: 5px 0;
}
.top-menu .sublist li {
	position: relative;
	margin: 1px 0 1px 20px;
}
.top-menu .sublist li a {
	display: block;
	padding: 15px 18px;
	font-size: 15px;
}

.sublist-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
	height: 55px;
	border-left: 1px solid #fff;
	background: url('../images/toggle-black.png') center no-repeat;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.sublist .sublist-toggle {
	height: 49px;
}
.sublist .sublist li {
	background-color: #f6f6f6;
}
.sublist .sublist .sublist li {
	background-color: #fff;
}

.block-category-navigation {
	display: none;
}
.block-account-navigation {
	float: none;
	margin: auto !important;
}

}





@media all and (min-width: 481px) {


/*** GLOBAL ***/


.master-wrapper-content,
.header-menu {
	width: 92.5%;
}


/*** HEADER ***/


.header-selectors-wrapper > div {
    display: inline-block;
	width: 30%;
    margin: 10px auto;
}
.search-box input.search-box-text {
	width: 280px;
}
.ui-autocomplete {
	width: 280px !important;
}
.ui-autocomplete img {
	display: inline;
}


/*** FOOTER ***/


.footer-block {
	width: 85%;
}

/*** CATEGORY ***/


.product-filter {
	display: table-cell;
	vertical-align: top;
	text-align: left;
}
.product-filter.price-range-filter {
	width: 200px;
}
.product-filter .product-spec-group {
	float: left;
	margin: 0 25px 10px 0;
}
.product-filter .product-spec-group.product-spec-color {
    max-width: 190px;
}
.product-filter .group li.item {
	display: block;
	margin: 0;
}
.product-filter .group li.color-item {
    display: inline-block;
}

.item-box {
	width: 49%;
	margin: 0 0.5% 50px;
}
.item-box:nth-child(2n+1) {
	clear: both;
}
.item-box .product-rating-box {
    margin: 0 0 15px;
}
.item-box .prices {
    min-height: 40px;
}
.item-box .product-title {
    min-height: 42px;
    margin: 0 0 5px;
}


/*** PRODUCT PAGE ***/


.overview-buttons div {
	display: inline-block;
	width: auto;
	margin: 0 1px 2px;
}


/*** WISHLIST ***/


.wishlist-content .button-2 {
	display: inline-block;
	width: auto;
	min-width: 140px;
	margin: 0 1px 5px;
}


/*** TOPICS ***/


.enter-password-form input[type="password"] {
	width: 260px;
}


/*** FORUM & PROFILE ***/

.forums-header {
	background-color: #f9f9f9;
	padding: 30px 20px 20px;
}

.ui-tabs-nav li {
	display: inline-block;
	min-width: 150px;
	margin: 0 5px -1px;
	/*override jQuery UI styles, do not delete doubled properties*/
	margin: 0 5px -1px !important;
}

.private-messages-page .buttons .button-1,
.private-messages-page .buttons .button-2,
.private-message-view-page .buttons .button-1,
.private-message-view-page .buttons .button-2 {
	display: inline-block;
	width: auto;
	margin: 1px;
}

.topic-post .post-text {
    float: left;
    width: 90.5%;
    text-align: left;
}

.forum-group .forum-table th.latest-post,
.forum-group .forum-table th.topics,
.forum-group .forum-table th.posts,
.forum-group .forum-table td.latest-post,
.forum-group .forum-table td.topics,
.forum-group .forum-table td.posts {
    display: table-cell;
}

.topic-group .forum-table th.latest-post,
.topic-group .forum-table td.latest-post {
    display: table-cell;
}

.forum-table td.image {
    max-width: 40px;
}

.forum-table td.image div {
    max-width: 100%;
    background-size: contain;
}
}





@media all and (min-width: 769px) {


/**** GLOBAL ***/


.master-wrapper-content {
	width: 94%;
}
.home-page-polls li {
	min-width: 100px;
}


/**** GLOBAL TABLES ***/


.cart tr {
	width: 31.33333%;
	margin: 40px 1% 0;
}
.cart tr:nth-child(2n+1) {
	clear: none;
}
.cart tr:nth-child(3n+1) {
	clear: both;
}
.order-details-page .data-table tr {
	width: 31.33333%;
	margin: 40px 1% 0;
}
.order-details-page .data-table tr:nth-child(2n+1) {
	clear: none;
}
.order-details-page .data-table tr:nth-child(3n+1) {
	clear: both;
}


/*** HEADER ***/


.header-selectors-wrapper > div {
	width: 20%;
}


/*** FOOTER ***/


.footer-block {
	display: inline-block;
	width: 25.33333%;
	margin: 0 4%;
	vertical-align: top;
}
.footer-block .title {
	margin: 0 0 15px;
	background: none;
	padding: 0;
	color: #444;
	cursor: auto;
}
.footer-block .list {
	display: block !important; /* prevents toggle display:none on resize */
	background: none;
	padding: 0;
}
.footer-block .list li {
	padding: 5px 0;
}
.footer-block .list a {
	display: inline;
	padding: 0;
}
.follow-us {
	width: 98%;
	margin: 25px auto 0;
}


/*** CATEGORY ***/


.product-selectors {
	text-align: left;
}
.product-selectors .product-viewmode {
	display: inline-block;
	float: right;
}
.product-selectors .product-viewmode span {
	display: none;
}
.product-selectors .product-viewmode a {
	display: inline-block;
	width: 24px;
	height: 32px;
	margin: 0 0 0 12px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.product-selectors .product-viewmode a.grid {
	background-image: url('../images/view-grid.png');
}
.product-selectors .product-viewmode a.list {
	background-image: url('../images/view-list.png');
}
.product-selectors .product-viewmode a.selected {
	opacity: 1;
}

.item-box {
	width: 32.33333%;
	margin: 0 0.5% 50px;
}
.item-box:nth-child(2n+1) {
	clear: none;
}
.item-box:nth-child(3n+1) {
	clear: both;
}

.product-list .item-box {
	float: none;
	width: auto;
	margin: 0 5px 20px;
}
.product-list .item-box .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.product-list .item-box .picture {
	float: left;
	width: 220px;
}
.product-list .item-box:hover .picture a img {
	opacity: 1;
}
.product-list .item-box .picture:hover a img {
	opacity: 0.85;
}
.product-list .item-box .picture + .details {
	margin: 0 0 0 240px;
}
.product-list .item-box .product-title {
	height: auto;
	padding: 10px 0;
	font-size: 18px;
}
.product-list .item-box .description {
	display: block;
	margin: 0 0 10px;
	line-height: 22px;
}
.product-list .item-box .prices {
	height: auto;
	margin: 0 0 30px;
}
.product-list .item-box .buttons {
}
.product-list .item-box .product-box-add-to-cart-button {
	width: auto;
	min-width: 150px;
	padding: 0 20px;
}
.product-list .item-box .add-to-compare-list-button,
.product-list .item-box .add-to-wishlist-button {
	width: 42px;
}


/*** PRODUCT PAGE ***/


.gallery {
	width: 550px;
}
.variant-picture {
	float: left;
}
.variant-picture + .variant-overview {
	width: auto;
	margin: 0 0 0 240px;
}
.variant-overview {
	text-align: left;
}


/*** PRODUCT REVIEWS ***/


.product-review-item .review-title {
	float: left;
	max-width: 600px;
}
.product-review-item .product-review-box {
	float: right;
}


/*** REGISTRATION, LOGIN, ACCOUNT ***/


.address-list-page .section,
.order-list-page .section,
.return-Picture-list-page .section {
	display: inline-block;
	width: 45%;
    margin: 20px 1%;
	vertical-align: top;
}
.recurring-payments {
	width: 100% !important;
	margin: 20px 0 !important;
}


/*** SHOPPING CART ***/


.order-progress {
	padding: 20px;
}
.order-progress li {
	margin: 0 10px;
}
.order-progress a {
	min-width: 80px;
}

.cart-options .common-buttons {
	text-align: right;
}
.cart-options .checkout-attributes,
.cart-options .selected-checkout-attributes {
	padding: 0 10px;
}

.cart-footer .totals {
	float: right;
	width: 45%;
	margin: 0 2.5%;
}
.cart-footer .terms-of-service {
	text-align: left;
}
.cart-footer .checkout-buttons,
.cart-footer .addon-buttons {
	text-align: right;
}
.cart-footer .cart-collaterals {
	float: left;
	width: 45%;
	margin: 0 2.5%;
}
.cart-footer .cart-collaterals div,
.cart-footer .cart-collaterals label {
	text-align: left;
}
.cart-footer .estimate-shipping label {
	display: block;
	margin: 0 0 10px;
}
.cart-footer .estimate-shipping .buttons {
	text-align: right;
}


/*** CHECKOUT ***/


.checkout-page .selected-checkout-attributes {
	float: right;
	text-align: right;
}
.checkout-page .cart-footer .totals {
	max-width: 350px;
	margin: 0;
}
.checkout-page .address-grid {
	overflow: hidden;
}
.checkout-page .address-item {
	float: left;
	width: 48%;
	margin: 0 1% 40px;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	display: inline-block;
	width: 25%;
	margin: 20px 2%;
	vertical-align: top;
}
.shipping-method .method-name {
	background-color: #f6f6f6;
	padding: 10px;
}
.payment-method .payment-logo {
	display: block;
	background-color: #f6f6f6;
	padding: 10px;
}
.payment-method .payment-details {
	display: block;
	width: auto;
	min-width: 0;
	margin: 10px 0 0;
	text-align: center;
}
.payment-info .info {
	padding: 30px 75px;
}
.order-review-data,
.order-details-area,
.shipment-details-area {
	overflow: hidden;
}
.order-review-data > div,
.order-details-area > div,
.shipment-details-area > div {
	float: left;
	width: 48%;
	margin: 0 1% 40px;
}


/*** ORDER DETAILS & SHIPPING DETAILS ***/


.order-details-page .section.options {
	text-align: right;
}
.order-details-page .selected-checkout-attributes {
	padding: 0 10px;
}
.order-details-page .tax-shipping-info {
    text-align: right;
}
.order-details-page .totals {
	float: right;
	clear: both;
}
.shipment-details-page .tracking-number .tracking-url {
    color: #4ab2f1;
}


/*** BLOG & NEWS ***/


.blog-posts .tags {
	float: right;
	width: 80%;
	text-align: right;
}
.blog-posts .buttons {
	float: left;
	width: 20%;
	text-align: left;
}

.new-comment {
	text-align: center;
}
.new-comment .buttons {
	text-align: center;
}

.comment-list .comment {
	display: table;
	width: 100%;
	margin: 0;
}
.comment-list .comment:last-child {
	border-bottom: 1px solid #ddd;
}
.comment-info {
	display: table-cell;
	width: 15%;
	margin: 0;
	vertical-align: top;
}
.comment-info .username {
	min-height: 40px;
	margin: 0;
	border: none;
	text-align: center;
}
.comment-info .avatar {
	border: none;
}
.comment-info .avatar img {
	max-width: 80%;
	max-height: 80%;
}
.comment-content {
	display: table-cell;
	width: 85%;
	border-left: 1px solid #ddd;
	vertical-align: top;
	text-align: left;
}
.comment-time {
	min-height: 40px;
	margin: 0;
	background-color: #f6f6f6;
	padding: 10px 15px;
    font-size: 14px;
    font-weight: normal;
}
.comment-title {
	margin: 0 0 -20px;
	padding: 20px;
}
.comment-body {
	padding: 20px;
}


/*** FORUM & PROFILE ***/


.forum-actions,
.topic-actions {
	overflow: hidden;
}
.forum-actions .actions,
.topic-actions .actions {
	float: left;
}
.forum-actions .pager,
.topic-actions .pager {
	float: right;
	max-width: 450px;
}
.forum-actions .pager li,
.topic-actions .pager li {
	margin: 2px 4px;
}
.forum-actions .pager.upper {
	display: block;
}
.topic-actions.lower .actions {
	display: block;
}

.topic-posts {
	margin: 0 0 30px;
}
.topic-post {
	display: table;
	width: 100%;
	margin: 0;
}
.topic-post .post-info {
	display: table-cell;
	width: 15%;
	margin: 0;
	vertical-align: top;
	text-align: left;
}
.topic-post .user-info {
	width: auto;
}
.topic-post .username {
	min-height: 40px;
	margin: 0;
	border: none;
	text-align: center;
}
.topic-post .avatar {
	margin: auto;
	border: none;
}
.topic-post .avatar img {
	max-width: 80%;
	max-height: 80%;
}
.topic-post .user-stats li {
	margin: 0;
}
.topic-post .send-pm {
	margin: 0 0 20px;
}
.topic-post .pm-button,
.profile-info-box .pm-button {
	padding: 8px 16px;
	font-size: 13px;
}
.topic-post .post-content {
	display: table-cell;
	width: 85%;
	border-left: 1px solid #ddd;
	vertical-align: top;
	text-align: left;
}
.topic-post .post-head {
	min-height: 40px;
	overflow: hidden;
	background-color: #f6f6f6;
}
.topic-post .post-time {
	float: left;
	margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.topic-post .post-actions {
	float: right;
	margin: 0;
}
.topic-post .post-actions a {
	margin: 0;
	line-height: 20px;
}
.topic-post .post-actions .manage-post a {
}
.topic-post .post-actions .quote-post a {
	min-width: 70px;
}
.topic-post .post-actions a.post-link-button {
	margin: 0 0 0 10px;
	border-left: 1px solid #ddd;
	text-align: center;
}

.topic-post .post-text {
	padding: 20px 5px;
}

.topic-post .post-vote{
    padding: 20px 0 20px 15px;
}

.forum-table th.replies,
.forum-table th.views,
.forum-table th.votes,
.forum-table td.replies,
.forum-table td.views,
.forum-table td.votes {
    display: table-cell;
}

.forum-table td.image {
    max-width: none;
}

.forum-table td.image div {
    max-width: none;
    background-size: initial;
}

.ui-tabs-nav {
	text-align: left;
}
.ui-tabs-nav li {
	margin: 0 10px -1px 0;
	/*override jQuery UI styles, do not delete doubled properties*/
	margin: 0 10px -1px 0 !important;
}

.profile-info-box .avatar {
	float: left;
	margin: 0 15px 15px 0;
}
.profile-info-box .profile-stats {
	float: left;
	text-align: left;
}
.profile-info-box .title {
	text-align: left;
}
.profile-info-box .send-pm {
	clear: both;
	text-align: left;
}

}





@media all and (min-width: 1001px) {


/*** GLOBAL STYLES ***/


.master-wrapper-content {
	width: 980px;
	margin: auto;
}
.center-2 {
	float: right;
	width: 73%;
}
.side-2 {
	float: left;
	width: 25%;
}
.page {
	text-align: left;
}
.inputs {
	text-align: left;
}
.inputs label {
	display: inline-block;
	width: 265px;
	margin: 0 10px 0 0;
	text-align: right;
}
.inputs input[type="text"],
.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"],
.inputs select {
    min-height: 40px;
}
.inputs .option-list li {
	margin: 0 10px 0 0;
}
.center-1 .buttons {
	text-align: center;
}
.center-2 .inputs label {
	width: 136px;
}
.page-title a + h1 {
	float: left;
}
.link-rss {
	display: block;
	float: right;
	margin: 6px 0 0;
}


/*** GLOBAL TABLES ***/


.cart tr {
	width: auto;
	margin: 0;
}
.cart label {
	display: none;
}

.order-details-page .data-table tr {
	width: auto;
	margin: 0;
}
.order-details-page .data-table label {
	display: none;
}


/*** HEADER ***/


.header {
	width: 980px;
	margin: auto;
}
.header-upper:after {
	content: "";
	display: block;
	clear: both;
}
.header-selectors-wrapper {
	float: left;
	border: none;
	padding: 0;
}
.header-selectors-wrapper > div {
	width: auto;
	min-width: 100px;
	margin: 0 12px 0 0;
	line-height: 43px;
}
.header-selectors-wrapper select {
	height: 25px;
	padding: 4px;
	font-size: 12px;
}
.language-list {
	text-align: left;
}
.header-links-wrapper {
	float: right;
	padding: 0;
}
.header-links li {
	margin: 0 16px;
}
.header-links a,
.header-links span {
	line-height: 45px;
	text-transform: none;
}
#topcartlink {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0 18px;
}

.flyout-cart {
	position: absolute;
	top: 45px;
	right: 0;
	z-index: 100;
	width: 300px;
	box-shadow: 0 0 2px rgba(0,0,0,0.25);
	background-color: #fff;
}
.flyout-cart.active {
	display: block;
}
.mini-shopping-cart {
	padding: 12px;
	text-align: left;
	font-size: 12px;
}
.mini-shopping-cart .count {
	padding: 5px 0 15px;
	color: #444;
}
.mini-shopping-cart .count a {
	margin: 0 2px;
	font-weight: bold;
	color: #444;
}
.mini-shopping-cart .items {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
}
.mini-shopping-cart .item {
	overflow: hidden;
	padding: 10px 0;
}
.mini-shopping-cart .picture {
	float: left;
	width: 70px;
	text-align: center;
}
.mini-shopping-cart .picture a {
	display: block;
	position: relative;
	overflow: hidden;
}
.mini-shopping-cart .picture a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.mini-shopping-cart .picture img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
}
.mini-shopping-cart .picture + .product {
	margin: 0 0 0 80px;
}
.mini-shopping-cart .name {
	margin: 0 0 10px;
	font-size: 14px;
}
.mini-shopping-cart .name a {
	color: #4ab2f1;
}
.mini-shopping-cart .name a:hover {
	color: #248ece;
}
.mini-shopping-cart .attributes {
	margin: 5px 0;
	color: #444;
}
.mini-shopping-cart .totals {
	margin: 0 0 12px;
	font-size: 14px;
}
.mini-shopping-cart .totals strong {
	font-size: 16px;
	color: #444;
}
.mini-shopping-cart .buttons {
	margin: 0 0 5px;
}
.mini-shopping-cart input[type="button"] {
	display: inline-block;
	border: none;
	background-color: #4ab2f1;
	padding: 10px 20px;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.mini-shopping-cart input[type="button"]:hover {
	background-color: #248ece;
}

.header-lower {
	display: table;
	width: 100%;
}
.header-logo {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	font-size: 0;
}
.search-box {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
.search-box input.search-box-text,
.search-box .search-box-button {
	height: 40px;
}


/*** NAVIGATION ***/


.header-menu {
	position: relative;
	z-index: 5;
	width: 980px;
	margin: 0 auto 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 25px 0;
	text-align: center;
}
.menu-toggle,
.sublist-toggle {
	display: none;
}
.header-menu > ul {
	display: block !important; /* prevents toggle display:none on resize */
	font-size: 0;
}
.header-menu > ul.mobile {
	display: none !important;
}
.header-menu > ul > li {
	display: inline-block;
	border-left: 1px solid #ddd;
	padding: 0 15px;
	vertical-align: middle;
}
.header-menu > ul > li:first-child {
	border-left: none;
}
.header-menu > ul > li > a {
	display: block;
	padding: 5px 10px;
	line-height: 20px;
	font-size: 17px; /*reset zeroing*/
	color: #555;
	cursor: pointer;
}
.header-menu > ul > li > a:hover {
	color: #4ab2f1;
}
.header-menu .sublist {
	display: none;
	position: absolute;
	width: 200px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	background-color: #fff;
	padding: 10px 0;
	text-align: left;
}
.header-menu .sublist li {
	position: relative;
}
.header-menu .sublist li a {
	display: block;
	position: relative;
	padding: 10px 20px 10px 30px;
	font-size: 14px;
	color: #444;
}
.header-menu .sublist li a:before {
	content: "";
	position: absolute;
	top: 17px;
	left: 15px;
	width: 5px;
	height: 5px;
	background-color: #ddd;
}
.header-menu .sublist li:hover > a {
	background-color: #f6f6f6;
}
.header-menu ul li:hover > .sublist {
	display: block;
}
.header-menu .sublist .sublist {
	top: -10px;
	left: 100% !important;
}


/*** FOOTER ***/


.footer-upper {
	width: 980px;
	padding: 35px 10px;
}
.footer-upper:after {
	content: "";
	display: block;
	clear: both;
}
.footer-block {
	float: left;
	width: 220px;
	margin: 0;
}
.footer-block:first-child {
}
.footer-block .list {
	margin: 0;
}
.follow-us {
	float: right;
	width: 300px !important;
	margin: 0;
	text-align: left;
}
.follow-us .social li {
	margin: 0 10px 0 0;
}
.newsletter-email {
	display: block;
}
.newsletter-email input[type="text"] {
	width: 200px;
}
.newsletter-email .newsletter-subscribe-button {
	width: 100px;
	padding: 0 5px;
}
.newsletter-validation .field-validation-valid {
	text-align: left;
}
.footer-lower {
	position: relative;
	width: 980px;
	padding: 25px 5px;
}
.footer-lower:after {
	content: "";
	display: block;
	clear: both;
}
.footer-info {
	float: right;
	line-height: 32px;
}
.footer-powered-by {
	float: left;
	margin: 0;
	line-height: 32px;
}
.theme-selector {
	float: left;
	margin: 0 0 0 15px;
}


/*** COLUMN ***/


.block {
	float: none;
	width: auto;
	margin: 0 0 20px;
}
.block .title {
	margin: 0;
	border-bottom: 1px solid #ddd;
	background: none;
	cursor: auto;
}
.block .title strong {
	font-weight: bold;
}
.block .listbox {
	display: block;
	border-bottom: none;
}
.block a.product-picture {
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 0 0 0 -15px;
	vertical-align: middle;
}
.block a.product-name {
	vertical-align: middle;
}
.block a.product-picture + a.product-name {
	width: 70%;
}
.block a.product-picture + a.product-name:before {
	display: none;
}


/*** CATEGORY ***/


.breadcrumb {
	margin: 0 0 20px;
}

.item-box .buttons {
	text-align: left;
}

.home-page .product-grid .item-box,
.product-details-page .product-grid .item-box,
.shopping-cart-page .product-grid .item-box {
	width: 24%;
	margin: 0 0.5% 50px;
}
.home-page .product-grid .item-box:nth-child(3n+1),
.product-details-page .product-grid .item-box:nth-child(3n+1),
.shopping-cart-page .product-grid .item-box:nth-child(3n+1) {
	clear: none;
}
.home-page .product-grid .item-box:nth-child(4n+1),
.product-details-page .product-grid .item-box:nth-child(4n+1),
.shopping-cart-page .product-grid .item-box:nth-child(4n+1) {
	clear: both;
}


/*** PRODUCT PAGE ***/


.gallery {
	float: left;
	width: 46%;
}
.gallery .picture {
	width: auto;
}
.overview {
	float: right;
	width: 52%;
}
.rental-attributes {
	overflow: hidden;
}
.rental-attributes .attribute-item {
	float: left;
	margin: 0 20px 0 0;
}
.rental-attributes .datepicker {
	width: 160px;
	text-align: left;
}
.attribute-squares li {
	margin: 0 10px 10px 0;
}
.product-details-page .title {
	text-align: left;
}


/*** PRODUCT REVIEWS ***/


.product-review-item .review-title {
	max-width: 850px;
}


/*** WISHLIST & COMPARE LIST ***/

.compare-products-page .page-title {
	margin: 0 0 -1px;
}
.compare-products-page .clear-list {
	position: absolute;
	top: 7px;
	right: 0;
}
.compare-products-table .full-description td {
	display: table-cell;
}
.compare-products-table .full-description td p {
	margin-top: 0;
}


/*** TOPICS ***/


.center-1 .topic-block-title {
	text-align: center;
}
.topic-page p {
	text-align: justify;
}


/*** REGISTRATION, LOGIN, ACCOUNT ***/


.gender span {
	margin: 0 10px 0 0;
}
.gender span > * {
	margin: 0 5px 0 0;
}
.date-of-birth select + select {
	margin: 0 0 0 11px;
}
#check-availability-button {
	display: block;
	margin: 10px auto;
}

.login-page .customer-blocks {
	overflow: hidden;
}
.login-page .new-wrapper {
	float: left;
	width: 49%;
	margin: 0;
}
.login-page .new-wrapper .text {
	min-height: 200px;
}
.login-page .returning-wrapper {
	float: right;
	width: 49%;
}
.login-page .returning-wrapper .form-fields {
	min-height: 200px;
	padding: 30px 0 0;
}
.login-page .returning-wrapper .inputs label {
	width: 110px;
}
.login-page .returning-wrapper input[type="text"],
.login-page .returning-wrapper input[type="email"],
.login-page .returning-wrapper input[type="password"] {
    width: 300px;
}

.address-list-page .section,
.order-list-page .section,
.return-Picture-list-page .section {
	display: block;
    width: auto;
	margin: 0 0 40px;
}
.address-list-page .buttons,
.order-list-page .buttons {
	position: absolute;
	top: 5px;
	right: 10px;
}

.avatar-page .message-error,
.avatar-page .buttons {
	text-align: left;
}

.registration-page .vat-note {
    margin-left: 275px;
}
.customer-info-page .vat-note, 
.customer-info-page .email-to-revalidate-note {
    margin-left: 150px;
}
.customer-info-page .vat-status {
    display: inline-block;
}

/*** SHOPPING CART ***/


.shopping-cart-page .cart-options {
	overflow: hidden;
}
.shopping-cart-page .checkout-attributes {
	float: left;
	max-width: 565px;
	margin: -30px 0 15px;
}
.shopping-cart-page .checkout-attributes li {
	margin: 5px 10px 5px 0;
}
.shopping-cart-page .selected-checkout-attributes {
	float: right;
	max-width: 395px;
	margin: 15px 0;
}


/*** CHECKOUT ***/


.order-progress {
	margin: -30px 0 50px;
}
.checkout-page .address-item {
	width: 31.33333%;
}
.checkout-page .terms-of-service {
	text-align: center;
}
.payment-info .info {
	padding: 30px 15px;
}
.payment-info .info td:first-child {
	width: 265px !important;
	margin: 0 10px 0 0;
	text-align: right;
}
.payment-info .info td:only-child {
	width: 100% !important;
}
.order-review-data .title,
.order-details-area .title,
.shipment-details-area .title {
	text-align: left;
}
.opc .order-review-data ul {
	text-align: left;
}


/*** SEARCH & SITEMAP ***/


.advanced-search .price-range {
	margin-left: 114px;
}


/*** BLOG & NEWS ***/


.comment-list {
	margin: 0 0 50px;
}
.news-list-homepage .news-items {
	overflow: hidden;
	text-align: left;
}
.news-list-homepage .news-item {
	float: left;
	width: 31.33333%;
	margin: 0 1% 30px;
}
.news-list-homepage .news-item:nth-child(3n+1) {
	clear: both;
}
.news-list-homepage .news-item:only-child {
	float: none;
	width: auto;
	margin: 0 0 30px;
}
.news-list-homepage .news-head {
	text-align: center;
}
.news-list-homepage .news-body {
	text-align: justify;
}


/*** FORUM & PROFILE ***/


.forum-breadcrumb {
	margin: -30px 0 30px;
}
.current-time {
	float: right;
}
.forum-search-box {
	float: left;
}
.forum-search-box .advanced {
	text-align: left;
}
.forum-search-box .advanced a {
	line-height: normal;
}
.forums-table-section td {
	min-width: 150px;
}
.forums-table-section td:first-child {
	min-width: 90px;
}
.forums-table-section .view-all {
	text-align: right;
}
.topic-actions .pager.upper {
	display: block;
	max-width: 400px;
}
.forum-table .forum-details,
.forum-table .topic-details {
	min-width: 225px;
}
.forum-table td {
    padding: 20px;
}
.forum-edit-page textarea,
.private-message-send-page textarea {
	width: 600px;
	height: 250px;
}
.private-message-send-page .bb-code-editor-wrapper {
    display: inline-block;
    width: 400px;
    margin: 10px 0;
    vertical-align: middle;
}

}





@media all and (min-width: 1367px) {


    /*** GLOBAL STYLES ***/


    .master-wrapper-content {
        width: 1200px;
    }

    .inputs label {
        width: 375px;
    }

    .center-2 .inputs label {
        width: 213px;
    }


    /*** HEADER ***/


    .header {
        width: 1200px;
    }


    /*** NAVIGATION ***/


    .header-menu {
        width: 1200px;
    }

        .header-menu > ul > li {
            padding: 0 20px;
        }

            .header-menu > ul > li > a,
            .header-menu > ul > li > span {
                font-size: 18px;
            }


    /*** FOOTER ***/


    .footer-upper {
        width: 1200px;
        padding: 35px 30px;
    }

    .footer-block {
        width: 280px;
    }

    .footer-lower {
        width: 1200px;
        padding: 25px 20px;
    }


    /*** PRODUCT REVIEWS ***/


    .product-review-item .review-title {
        max-width: 1050px;
    }


    /*** REGISTRATION, LOGIN, ACCOUNT ***/


    .login-page .returning-wrapper input[type="text"],
    .login-page .returning-wrapper input[type="email"],
    .login-page .returning-wrapper input[type="password"] {
        width: 360px;
    }

    .registration-page .vat-note {
        margin-left: 385px;
    }

    .customer-info-page .vat-note,
    .customer-info-page .email-to-revalidate-note {
        margin-left: 225px;
    }

    /*** SHOPPING CART ***/


    .cart-footer .totals {
        width: 395px;
        margin: 0;
    }

    .cart-footer .cart-collaterals {
        width: 760px;
        margin: 0;
    }

        .cart-footer .cart-collaterals .deals {
            float: left;
            width: 360px;
        }

        .cart-footer .cart-collaterals .shipping {
            float: right;
            width: 360px;
        }

    .cart-footer .estimate-shipping .inputs label {
        display: inline-block;
        width: 35%;
    }

    .cart-footer .estimate-shipping .inputs input,
    .cart-footer .estimate-shipping .inputs select {
        width: 65%;
    }


    /*** CHECKOUT ***/


    .shipping-method .method-list li,
    .payment-method .method-list li {
        margin: 20px 1%;
    }

    .payment-info .info td:first-child {
        width: 375px !important;
    }

    .payment-info .info td:only-child {
        width: 100% !important;
    }


    /*** FORUM & PROFILE ***/


    .forum-actions .pager,
    .topic-actions .pager {
        max-width: 600px !important;
    }

    .topic-post .post-text {
        width: 930px;
        max-width: 100%;
    }
}